<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer Details</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .borderNone {
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h2>Customer Details</h2>
        <div style="float: right; margin-top: 10px; margin-bottom: 10px">
          <a href="/customers/<%= customer.id %>/show-cart"
            >Show cart</a
          >
          &nbsp; | &nbsp;
          <a href="/customers/<%= customer.id %>/show-transactions"
            >Show transactions</a
          >
        </div> 
          
        <div style="margin-top:50px">
          <form class="form-horizontal" method="POST" action="/products/add">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email"
                >Fullname:</label
              >
              <div class="col-sm-10">
                <div class="form-control borderNone">
                  <%= customer.fullName %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <div class="form-control borderNone"><%= customer.email %></div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Address:</label>
              <div class="col-sm-10">
                <div class="form-control borderNone">
                  <%= customer.address %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Phone:</label>
              <div class="col-sm-10">
                <div class="form-control borderNone"><%= customer.phone %></div>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2" for="email">
                <a href="/customers"
                  ><button type="button" class="mx btn btn-primary">
                    Back
                  </button></a
                >
              </div>
              <div class="col-sm-10">
                <div class="form-control borderNone">
                  <a href="/customers/<%= customer.id %>/edit"
                    ><button type="button" class="mx btn btn-warning">
                      Edit
                    </button></a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
